{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Check Your Sanity{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/custom.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Mental Health Predictor</a>
    </nav>
    
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <nav class="navbar bg-custom fixed-bottom justify-content-center" style="background: #f8ff75;">
        <div style="color: rgb(49, 6, 6);">&copy; 2024</div>
    </nav>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
